# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# Ignore node_modules in any subdirectory
node_modules/
devnotes/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
**/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/client_mobile
/server/public
**/.expo/
**/.expo-shared/
client_native/dist/
client_native/web-build/
AGENTS.md